{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

<style>
  

</style>


{% block banner_slider %}
<!--Banner Slider-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for banner in banners %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        <img src="{{ banner.image.url }}" class="d-block w-100" alt="...">
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>

<!-- End Banner Slider -->
{% endblock banner_slider %}

{% block livesale %}
<!-- Live Sale Section -->
<div class="container">
  <div class="row bg-danger text-center p-5 text-white border-bottom shadow">
    <h1>SALE IS LIVE NOW</h1>
    <span>5% Instant Discount on Axis Bank Credit and Debit Card</span>
    <small class="fw-lighter">Term and Condition Applied (For details visit Bank's official Website)</small>
  </div>
</div> 
<!-- End Live Sale Section -->
{% endblock livesale %}

{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
 <h2>Mobiles</h2>
 <!-- Slider 1 -->
 
 <div class="owl-carousel" id="slider1">
  {% for mobiles in mobile %}
  
  <a href="{% url 'product-detail' pk=mobiles.id %}" class="btn"><div class="item"><img src="{{mobiles.image.url}}" alt=""  height="300px"><span class="fw-bold">{{ mobiles.title |truncatewords:3 }}</span><br><span class="fs-5">$ {{mobiles.price}}</span></div></a>
  {% endfor %}
  
 </div>
 
</div>
<div class="m-3">
  <h2>Clothing </h2>
  <!-- Slider 1 -->
  
  <div class="owl-carousel" id="slider1">
   {% for cloths in cloth %}
   
   <a href="{% url 'product-detail' pk=cloths.id %}" class="btn"><div class="item"><img src="{{cloths.image.url}}" alt="" height="200px"><span class="fw-bold">{{ cloths.title |truncatewords:3 }}</span><br><span class="fs-5">$ {{cloths.price}}</span></div></a>
   {% endfor %}
   
  </div>
  
 </div>

 <div class="m-3">
  <h2>Electronics </h2>
  <!-- Slider 1 -->
  
  <div class="owl-carousel" id="slider1">
    {% for product in electronics %}
  
    <a href="{% url 'product-detail' pk=product.id %}" class="btn"><div class="item"><img src="{{product.image.url}}" alt="" height="200px"><span class="fw-bold">{{ product.title |truncatewords:3 }}</span><br><span class="fs-5">$ {{product.price}}</span></div></a>
    {% endfor %}
  
 </div>


 <div class="m-3">
  <h2>Books </h2>
  <!-- Slider 1 -->
  
  <div class="owl-carousel" id="slider1">
   {% for book in books %}
   
   <a href="{% url 'product-detail' pk=book.id %}" class="btn"><div class="item"><img src="{{book.image.url}}" alt="" height="200px"><span class="fw-bold">{{ book.title |truncatewords:3 }}</span><br><span class="fs-5">$ {{book.price}}</span></div></a>
   {% endfor %}
   
  </div>
  
 </div>



 </div>

{% endblock main-content %}